<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>About Us - Book Store</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <main>
      <section class="about">
        <h1>About Our Book Store</h1>
        <p>We have a varied range of books at a very good price.</p>
      </section>
    </main>

    <footer>
      <section class="social-links">
        <a href="#"
          ><img src="../images/facebook-icon.jpeg" alt="Facebook"
        /></a>
        <a href="#"><img src="../images/twitter-icon.png" alt="Twitter" /></a>
        <a href="#"
          ><img src="../images/instagram-icon.png" alt="Instagram"
        /></a>
      </section>
      <section class="footer-links">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Shipping Information</a></li>
        </ul>
      </section>
      <section class="newsletter-form">
        <h3>Subscribe to Our Newsletter</h3>
        <form action="#" method="post">
          <input type="email" name="email" placeholder="Enter your email" />
          <button type="submit">Subscribe</button>
        </form>
      </section>
    </footer>
  </body>
</html>
