<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Contact Us - Book Store</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <section class="contact-info">
      <h1>Contact Information</h1>
      <address>
        <p>Bookstore Gabriel</p>
        <p>Sibiu, Romania</p>
        <p>Email: gabriel.giroe@bookstore.com</p>
      </address>
    </section>

    <section class="contact-form">
      <h2>Contact Us:</h2>
      <form action="#" method="post">
        <label for="first-name">First Name: </label>
        <input type="text" id="first-name" name="first-name" required />

        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last-name" required />

        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required />

        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required />

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5" required></textarea>
        
        <button type="submit">Submit</button>
      </form>
    </section>

    <section class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2782.6488757388056!2d24.13522131315768!3d45.778226670960386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474c678604b4ad13%3A0xe744074070b2b902!2sGSD%20Software%20%26%20Technology!5e0!3m2!1sro!2sro!4v1694688517345!5m2!1sro!2sro"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>

    <footer>
      <section class="social-links">
        <a href="#"
          ><img src="../images/facebook-icon.jpeg" alt="Facebook"
        /></a>
        <a href="#"><img src="../images/twitter-icon.png" alt="Twitter" /></a>
        <a href="#"
          ><img src="../images/instagram-icon.png" alt="Instagram"
        /></a>
      </section>
      <section class="footer-links">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Shipping Information</a></li>
        </ul>
      </section>
      <section class="newsletter-form">
        <h3>Subscribe to Our Newsletter</h3>
        <form action="#" method="post">
          <input type="email" name="email" placeholder="Enter your email" />
          <button type="submit">Subscribe</button>
        </form>
      </section>
    </footer>
  </body>
</html>
