<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Book Store</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <main>
      <section class="hero">
        <h1>Welcome to Our Book Store</h1>
        <p>Discover a world of stories waiting to be explored.</p>
      </section>
      <center><h2>Books available</h2></center>

      <section class="featured-books">
        <div class="book-card">
          <img
            src="../images/book-ruby-on-rails.png"
            alt="The best book for ruby on rails"
          />
          <div class="book-info">
            <h3>Book Title 1</h3>
            <p>Author: Author Name</p>
            <p>Price: $19.99</p>
          </div>
        </div>

        <div class="book-card">
          <img src="../images/second-images.jpeg" alt="The great book" />
          <div class="book-info">
            <h3>Book Title 2</h3>
            <p>Author: Author Name</p>
            <p>Price: $24.99</p>
          </div>
        </div>

        <div class="book-card">
          <img src="../images/rails-antipatern.jpeg" alt="Anti patterns" />
          <div class="book-info">
            <h3>Book Title 2</h3>
            <p>Author: Author Name</p>
            <p>Price: $24.99</p>
          </div>
        </div>

        <div class="book-card">
          <img src="../images/rails-tutorial-3.jpeg" alt="Third edition" />

          <div class="book-info">
            <h3>Book Title 2</h3>
            <p>Author: Author Name</p>
            <p>Price: $24.99</p>
          </div>
        </div>

        <div class="book-card">
          <img src="../images/chess-puzzle.jpeg" alt="" />
          <div class="book-info">
            <h3>Book Title 2</h3>
            <p>Author: Author Name</p>
            <p>Price: $24.99</p>
          </div>
        </div>

        <div class="book-card">
          <img src="../images/tactics-combination-chess.png" alt="" />
          <div class="book-info">
            <h3>Book Title 2</h3>
            <p>Author: Author Name</p>
            <p>Price: $24.99</p>
          </div>
        </div>

        <div class="book-card">
          <img src="../images/c-programming.jpeg" alt="" />
          <div class="book-info">
            <h3>Book Title 2</h3>
            <p>Author: Author Name</p>
            <p>Price: $24.99</p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <section class="social-links">
        <a href="#"
          ><img src="../images/facebook-icon.jpeg" alt="Facebook"
        /></a>
        <a href="#"><img src="../images/twitter-icon.png" alt="Twitter" /></a>
        <a href="#"
          ><img src="../images/instagram-icon.png" alt="Instagram"
        /></a>
      </section>
      <section class="footer-links">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Shipping Information</a></li>
        </ul>
      </section>
      <section class="newsletter-form">
        <h3>Subscribe to Our Newsletter</h3>
        <form action="#" method="post">
          <input type="email" name="email" placeholder="Enter your email" />
          <button type="submit">Subscribe</button>
        </form>
      </section>
    </footer>
  </body>
</html>
